*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #007bff;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
:root {
  --clr-Green-200-lighter: hsl(148, 38%, 91%);
  --clr-Green-600-medium: hsl(169, 82%, 27%);
  --clr-Red: hsl(0, 66%, 54%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-Grey-500-medium: hsl(186, 15%, 59%);
  --clr-Grey-900-darker: hsl(187, 24%, 22%);

  --ff: "Karla", sans-serif;
  --fs: 16px;

  --fw-400: 400;
  --fw-700: 700;
}
body {
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw-400);

  background-color: var(--clr-Green-200-lighter);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: fit-content;

  background-color: var(--clr-White);
  border-radius: 1rem;

  padding: 2rem;
}
.sr-only {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
input {
  padding: 10px 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name_div,
.query_div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 50%;
}

.firstName,
.lastName {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.email_sec,
.query_sec {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

input[type="email"] {
  width: 100%;
}
. @media screen and (max-width: 375px) {
}
